---
import Layout from "../components/layout.astro";
import Header from "../components/header.astro";
import Project from "../components/project.astro";
import Introduction from "../components/introduction.astro";

// const assetsUrl = "img";
const stack = [
    "NextJS",
    "Astro",
    "React.js",
    "Tailwind",
    "Typescript",
    "Javascript",
    "NodeJS",
    "React-Query",
    "HTML",
    "CSS",
    "MySQL",
    "Go",
];
const products = [
    {
        href: "https://weather-app-abdlrahmanls-projects.vercel.app",
        name: "Weather Forecast",
        desc: "Weather forecast Indonesia, included province, regency, subdistrict, and ward/village within 3 days",
        dateInfo: "July 2024",
        preview: { src: "weather.webp", width: 100, height: 10 },
        tags: ["NextJS", "React.js", "Tailwind", "Typescript"],
    },
    {
        href: "https://receipt-two.vercel.app/",
        name: "Food Recipe",
        desc: "Collection of food recipe articles around the world",
        dateInfo: "September 2022",
        preview: { src: "recipe.webp", width: 100, height: 10 },
        tags: [
            "NextJS",
            "React.js",
            "Styled-components",
            "Typescript",
            "Redux",
        ],
    },
    {
        href: "https://www.npmjs.com/~manskuy",
        name: "Monorepo component library",
        desc: "Collection of react components and hooks using Atomic Design",
        dateInfo: "September 2022",
        preview: { src: "monorepo.webp", width: 100, height: 10 },
        tags: ["React.js", "Styled-components", "Typescript", "Monorepo"],
    },
    {
        href: "https://www.youtube.com/watch?v=3mgtNeIptgk",
        name: "Playstore look like",
        desc: "Playstore clone application using Java",
        dateInfo: "April 2020",
        preview: { src: "playstore.webp", width: 100, height: 10 },
        tags: ["Android", "Java"],
    },
];
---

<Layout
    title="Abdul Rahman"
    description="Abdul Rahman, a software engineer focused on web development and currently is focusing on fullstack."
>
    <main class="mx-auto max-w-2xl p-2 space-y-3">
        <Header />
        <Introduction />
        <section>
            <div
                class="w-full flex flex-wrap items-center justify-center my-10"
            >
                {
                    stack.map((t) => (
                        <span class="bg-primary text-tertiary text-xs font-semibold mt-2 me-2 px-2.5 py-1 rounded">
                            {t}
                        </span>
                    ))
                }
            </div>
        </section>
        <div class="grid gap-3 grid-cols-1 md:grid-cols-2 lg:grid-cols-2">
            {
                products.map((p) => (
                    <a href={p.href} target="_blank">
                        <Project {...p} />
                    </a>
                ))
            }
        </div>

        <section>
            <div
                class:list={[
                    "flex flex-col my-10",
                    "[&_a]:inline-block [&_a]:py-1",
                    "[&_a:hover]:underline [&_a:hover]:decoration-dashed [&_a:hover]:decoration-blue-400",
                ]}
            >
                <a href="mailto:abdulrahmaninformatics@gmail.com"
                    >abdulrahmaninformatics@gmail.com</a
                >
                <a href="https://www.linkedin.com/in/abdulrahman-l/"
                    >linkedin.com<span>/abdulrahman-l/</span></a
                >
                <a href="https://github.com/abdlrahman-l"
                    >github.com<span>/abdlrahman-l</span></a
                >
            </div>
        </section>
    </main>
</Layout>
