---
// import logo from "/img/logo-grayscale.svg?raw";
---

<header
      class="bg-[#AE445A] w-full min-h-16 rounded-lg shadow-md flex items-center px-4 justify-between sticky  top-0 z-50"
    >
      <!-- <div class="w-3">
        <Fragment set:html={logo} />
      </div> -->

      <section>
        <h2 class="font-medium text-sm lg:text-md">Abdul Rahman 🇮🇩</h2>
        <p class="font-light text-sm lg:text-md">Software Engineer</p>
      </section>

      <nav class="flex space-x-3 cursor-pointer">
        <a href="/test#projects" class="hover:underline underline-offset-1 text-sm">
          Projects
        </a>
        <a href="" class="hover:underline underline-offset-1 text-sm"> Contacts </a>
      </nav>
</header>