<section class="p-3 grid gap-5 grid-cols-2 flex items-center">
    <i>"I love to create applications that run faster, more effectively, and more smoothly"</i>
    <div>

       
    <div class="overflow-hidden relative rounded-md">
        <div class="relative h-[200px] md:h-[250px]">
            <div class="bg-secondary rounded-b-md z-10 absolute bottom-0 h-3/6 w-full">

            </div>
            <div class="bg-primary rounded-tr-md z-10 absolute top-0 h-3/6 w-full">

            </div>
            <!-- <img
                src="img/code.png"
                alt='Its me'
                loading="lazy"
                class="object-contain z-20 absolute top-0"
            /> -->
            <img
                src="img/me.webp"
                alt='Its me'
                loading="lazy"
                class="object-contain z-30 absolute left-0 right-0 mx-auto bottom-0 max-h-60"
            />
        </div>
    </div>

    </div>
</section>